{% extends "container-layout.html" %}
{% block content %}
    <div class="columns">
        <div class="column col-10 col-mx-auto">
            <h3 class="text-center">Użytkownicy</h3>
            <br/>
            <div class="divider text-center"></div>
            {% if users %}
                <table class="table table-scroll">
                    <thead>
                    <tr class="text-center">
                        <th>Id</th>
                        <th>Username</th>
                        <th>Imię</th>
                        <th>Nazwisko</th>
                        <th>Email</th>
                        <th>Zaakceptowany</th>
                        <th>Aktywny</th>
                        <th>Rola</th>
                        <th>Ostatnio zalogowano</th>
                        <th>Podgląd</th>
                        <th>Edytuj</th>
                        <th>Zaakceptuj/Odakceptuj</th>
                        <th>Ban/Unban</th>
                        <th>Usuń</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        <tr class="text-center">
                            <td>{{ user.id }}</td>
                            <td>{{ user.username }}</td>
                            <td>{{ user.name }}</td>
                            <td>{{ user.surname }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.accepted }}</td>
                            <td>{{ user.active }}</td>
                            <td>{{ user.role }}</td>
                            <td>{{ user.last_logged }}</td>
                            <td>
                                <form method="GET" action="{{ url_for('admin.show_user_details', user_id=user.id) }}"
                                      novalidate>
                                    <button class="btn btn-primary" type="submit">Pokaż</button>
                                </form>
                            </td>
                            <td>
                                <form method="GET" action="{{ url_for('admin.update_user', user_id=user.id) }}" novalidate>
                                    <button class="btn btn-primary" type="submit">Edytuj</button>
                                </form>
                            </td>
                            <td class="text-center">
                                <form method="POST" action="{{ url_for('admin.accept_user', user_id=user.id) }}" novalidate>
                                    <button class="btn btn-primary" type="submit">Zaakceptuj</button>
                                </form>
                            </td>
                            <td>
                                <form method="POST" action="{{ url_for('admin.activate_user', user_id=user.id) }}" novalidate>
                                    <button class="btn btn-primary" type="submit">Aktywuj</button>
                                </form>
                            </td>
                            <td>
                                <button class="btn btn-error" disabled >Usuń</button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                </div>
                </div>
            {% else %}
                <div class="empty">
                    <div class="empty-icon">
                        <i class="icon icon-stop"></i>
                    </div>
                    <p class="empty-title h5">Brak danych</p>
                    <p class="empty-subtitle">Nie ma jeszcze żadnych użytkowników</p>
                </div>
            {% endif %}
    <br/>
    <div class="divider text-center"></div>
    <div class="columns">
        <div class="column col-4 col-mx-auto text-center">
            <button class="btn" type="button" onclick="window.location.href='{{ url_for('admin.admin_panel') }}';">
                Powrót
            </button>
        </div>
    </div>

    </div>
    <br/>
{% endblock content %}