{% extends "container-layout.html" %}
{% block content %}
    <div class="columns">
        <div class="column col-10 col-mx-auto">
            <h3 class="text-center">Definicje</h3>
            <br/>
            <div class="divider text-center"></div>
            {% if definitions %}
                <table class="table">
                    <thead>
                    <tr class="text-center">
                        <th>Id</th>
                        <th>Klucz</th>
                        <th>Wartość</th>
                        <th>Usuń</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for definition in definitions %}
                        <tr class="text-center">
                            <td>{{ definition.id }}</td>
                            <td>{{ definition.key}}</td>
                            <td>{{ definition.value}}</td>
                            <td>
                                <form action="{{ url_for('admin.delete_definition', definition_id=definition.id) }}" method="POST">
                                    <input class="btn btn-error" type="submit" value="Usuń">
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                </div>
                </div>

            {% else %}
                <div class="empty">
                    <div class="empty-icon">
                        <i class="icon icon-stop"></i>
                    </div>
                    <p class="empty-title h5">Brak danych</p>
                    <p class="empty-subtitle">Nie ma jeszcze żadnych definicji</p>
                    <div class="empty-action">
                        <button class="btn btn-primary"
                                onclick="window.location.href='{{ url_for('admin.admin_add_definition') }}';">Dodaj definicję
                        </button>
                    </div>
                </div>
            {% endif %}
    <br/>
    <div class="divider text-center"></div>
    <div class="columns">
        <div class="column col-4 col-mx-auto text-center">
            <button class="btn btn-primary"
                    onclick="window.location.href='{{ url_for('admin.admin_add_definition') }}';">Dodaj definicję
            </button>
            <button class="btn" type="button"
                    onclick="window.location.href='{{ url_for('admin.admin_panel') }}';">Powrót
            </button>

        </div>
    </div>
{% endblock content %}