{% extends "container-layout.html" %}
{% block content %}
    <div class="columns">
        <div class="column col-4 ">
        </div>
        <div class="column col-4">
            <form method="POST" action="" novalidate>
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.username.label(class="form-label") }}

                    {% if form.username.errors %}
                        {{ form.username(class="form-input is-error") }}
                        <p class="form-input-hint">
                            {% for error in form.username.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}

                        </p>
                    {% else %}
                        {{ form.username(class="form-input") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.name.label(class="form-label") }}

                    {% if form.name.errors %}
                        {{ form.name(class="form-input is-error") }}
                        <p class="form-input-hint">
                            {% for error in form.name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}

                        </p>
                    {% else %}
                        {{ form.name(class="form-input") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.surname.label(class="form-label") }}

                    {% if form.surname.errors %}
                        {{ form.surname(class="form-input is-error") }}
                        <p class="form-input-hint">
                            {% for error in form.surname.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}

                        </p>
                    {% else %}
                        {{ form.surname(class="form-input") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.email.label(class="form-label") }}
                    {% if form.email.errors %}
                        {{ form.email(class="form-input is-error") }}
                        <p class="form-input-hint">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}

                        </p>
                    {% else %}
                        {{ form.email(class="form-input") }}
                    {% endif %}
                </div>
                <div class="form-group text-right">
                    {{ form.submit(class="btn") }}
                </div>
            </form>
        </div>
        <div class="column col-4 ">
        </div>
        <hr/>

    </div>


{% endblock content %}