{% extends "container-layout.html" %}
{% block content %}
    <div class="columns">
        <div class="column col-10 col-mx-auto">
            <h3 class="text-center">Internet</h3>
            <br/>
            <div class="divider text-center"></div>
            {% if internet_entries %}
                <table class="table">
                    <thead>
                    <tr class="text-center">
                        <th>Id</th>
                        <th>Rok</th>
                        <th>Miesiąc</th>
                        <th>Kwota</th>
                        <th>Data zapłaty</th>
                        <th>Kara</th>
                        <th>Pokaż</th>
                        <th>Edytuj</th>
                        <th>Usuń</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for entry in internet_entries %}
                        <tr class="text-center">
                            <td>{{ entry.id }}</td>
                            <td>{{ entry.year }}</td>
                            <td>{{ entry.month }}</td>
                            <td>{{ entry.payment_amount }}</td>
                            <td>{{ entry.date_of_payment }}</td>
                            <td>{{ entry.penalty }}</td>
                            <td>
                                <button class="btn btn-primary"
                                        onclick="window.location.href='{{ url_for('admin.show_admin_internet_entry', entry_id=entry.id) }}';">
                                    Pokaż
                                </button>
                            </td>
                            <td>
                                <button class="btn btn-primary"
                                        onclick="window.location.href='{{ url_for('admin.update_internet_entry', entry_id=entry.id) }}';">
                                    Edytuj
                                </button>
                            </td>
                            <td>
                                <form action="{{ url_for('admin.delete_internet_entry', entry_id=entry.id) }}" method="POST">
                                    <input class="btn btn-error" type="submit" value="Usuń">
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                </div>
                </div>

            {% else %}
                <div class="empty">
                    <div class="empty-icon">
                        <i class="icon icon-stop"></i>
                    </div>
                    <p class="empty-title h5">Brak danych</p>
                    <p class="empty-subtitle">Nie ma jeszcze żadnych wpisów</p>
                    <div class="empty-action">
                        <button class="btn btn-primary"
                                onclick="window.location.href='{{ url_for('admin.admin_add_internet_entry') }}';">Dodaj wpis
                        </button>
                    </div>
                </div>
            {% endif %}
    <br/>
    <div class="divider text-center"></div>
    <div class="columns">
        <div class="column col-4 col-mx-auto text-center">
            <button class="btn btn-primary"
                    onclick="window.location.href='{{ url_for('admin.admin_add_internet_entry') }}';">Dodaj wpis
            </button>
            <button class="btn" type="button"
                    onclick="window.location.href='{{ url_for('admin.admin_panel') }}';">Powrót
            </button>

        </div>
    </div>
{% endblock content %}