{% extends "container-layout.html" %}
{% block content %}
    <div class="columns">
        <div class="column col-10 col-mx-auto">
            <h3 class="text-center">Grupy użytkowników</h3>
            <br/>
            <div class="divider text-center"></div>
            {% if groups %}
                <table class="table">
                    <thead>
                    <tr class="text-center">
                        <th>Id</th>
                        <th>Nazwa</th>
                        <th>Pokaż</th>
                        <th>Usuń</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for group in groups %}
                        <tr class="text-center">
                            <td>{{ group.id }}</td>
                            <td>{{ group.name}}</td>
                            <td>
                                <button class="btn btn-primary"
                                        onclick="window.location.href='{{ url_for('admin.manage_user_group', group_id=group.id) }}';">
                                    Pokaż
                                </button>
                            </td>
                            <td>
                                <form action="{{ url_for('admin.delete_user_group', group_id=group.id) }}" method="POST">
                                    <input class="btn btn-error" type="submit" value="Usuń">
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                </div>
                </div>

            {% else %}
                <div class="empty">
                    <div class="empty-icon">
                        <i class="icon icon-stop"></i>
                    </div>
                    <p class="empty-title h5">Brak danych</p>
                    <p class="empty-subtitle">Nie ma jeszcze żadnych grup</p>
                    <div class="empty-action">
                        <button class="btn btn-primary"
                                onclick="window.location.href='{{ url_for('admin.admin_add_user_group') }}';">Dodaj wpis
                        </button>
                    </div>
                </div>
            {% endif %}
    <br/>
    <div class="divider text-center"></div>
    <div class="columns">
        <div class="column col-4 col-mx-auto text-center">
            <button class="btn btn-primary"
                    onclick="window.location.href='{{ url_for('admin.admin_add_user_group') }}';">Dodaj wpis
            </button>
            <button class="btn" type="button"
                    onclick="window.location.href='{{ url_for('admin.admin_panel') }}';">Powrót
            </button>

        </div>
    </div>
{% endblock content %}