{% extends "container-layout.html" %}
{% block content %}
    <div class="columns">
        <div class="column col-10 col-mx-auto">
            <h3 class="text-center">Użytkownicy</h3>
            <br/>
            <div class="divider text-center"></div>
            <table class="table col-6 col-mx-auto">
                <thead>
                <tr>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><strong>ID</strong></td>
                    <td class="text-center">{{ user.id }}</td>
                </tr>
                <tr>
                    <td><strong>Nazwa użytkownika</strong></td>
                    <td class="text-center">{{ user.username }}</td>
                </tr>
                <tr>
                    <td><strong>Imię</strong></td>
                    <td class="text-center">{{ user.name }}</td>
                </tr>
                <tr>
                    <td><strong>Nazwisko</strong></td>
                    <td class="text-center">{{ user.surname }}</td>
                </tr>
                <tr>
                    <td><strong>Email</strong></td>
                    <td class="text-center">{{ user.email }}</td>
                </tr>
                <tr>
                    <td><strong>Zaakceptowany</strong></td>
                    <td class="text-center">{{ user.accepted }}</td>
                </tr>
                <tr>
                    <td><strong>Aktywny</strong></td>
                    <td class="text-center">{{ user.active }}</td>
                </tr>
                <tr>
                    <td><strong>Rola</strong></td>
                    <td class="text-center">{{ user.role }}</td>
                </tr>
                <tr>
                    <td><strong>Ostatnio zalogowany</strong></td>
                    <td class="text-center">{{ user.last_logged }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <br/>
{% endblock content %}