{% extends "container-layout.html" %}
{% block content %}
    <div class="divider text-center"></div>
    <div class="columns">
        <div class="column col-4 col-mx-auto text-center">
            <form action="{{ url_for('admin.admin_cleaning_shuffle') }}" method="POST">
                <button class="btn btn-primary" type="submit">Przydziel losowo
                </button>
            </form>
            <button class="btn" type="button"
                    onclick="window.location.href='{{ url_for('admin.admin_panel') }}';">Powrót
            </button>

        </div>
    </div>
{% endblock content %}