{% extends "container-layout.html" %}
{% block content %}
    <div class="columns">
        <div class="column col-4 col-xs-12">
            <div class="card">
                <div class="card-header">
                    <button class="btn btn-primary float-right"
                            onclick="window.location.href='{{ url_for('admin.notify_internet_debtors') }}'">Wyślij</button>
                    <div class="card-title h5">Internet</div>
                    <div class="card-subtitle text-gray">Opłaty za internet</div>
                </div>
                <div class="card-body">
                </div>
            </div>
        </div>
    </div>
{% endblock content %}