{% extends "container-layout.html" %}
{% block content %}
    <div class="columns">
        <div class="column col-4 col-xs-12">
            <div class="card">
                <div class="card-header">
                    <button class="btn btn-primary float-right"
                            onclick="window.location.href='{{ url_for('admin.admin_internet') }}';"><i
                            class="icon icon-forward"></i></button>
                    <div class="card-title h5">Internet</div>
                    <div class="card-subtitle text-gray">Opłaty za internet</div>
                </div>
                <div class="card-body">
                </div>
            </div>
        </div>
        <div class="column col-4 col-xs-12">
            <div class="card">
                <div class="card-header">
                    <button class="btn btn-primary float-right"
                            onclick="window.location.href='{{ url_for('admin.admin_media') }}';"><i
                            class="icon icon-forward"></i></button>
                    <div class="card-title h5">Media</div>
                    <div class="card-subtitle text-gray">Opłaty za media</div>
                </div>
                <div class="card-body">
                </div>
            </div>
        </div>
        <div class="column col-4 col-xs-12">
            <div class="card">
                <div class="card-header">
                    <button class="btn btn-primary float-right"
                            onclick="window.location.href='{{ url_for('admin.admin_users') }}';"><i
                            class="icon icon-forward"></i></button>
                    <div class="card-title h5">Użytkownicy</div>
                    <div class="card-subtitle text-gray">Zarządzanie użytkownikami</div>
                </div>
                <div class="card-body">
                </div>
            </div>
        </div>
    </div>
    <br/>
    <div class="columns">
        <div class="column col-4 col-xs-12">
            <div class="card">
                <div class="card-header">
                    <button class="btn btn-primary float-right"
                            onclick="window.location.href='{{ url_for('admin.admin_user_group') }}';"><i
                            class="icon icon-forward"></i></button>
                    <div class="card-title h5">Grupy użytkowników</div>
                    <div class="card-subtitle text-gray">Zarządzanie grupami użytkowników</div>
                </div>
                <div class="card-body">
                </div>
            </div>
        </div>
        <div class="column col-4 col-xs-12">
            <div class="card">
                <div class="card-header">
                    <button class="btn btn-primary float-right"
                            onclick="window.location.href='{{ url_for('admin.admin_definition') }}';"><i
                            class="icon icon-forward"></i></button>
                    <div class="card-title h5">Definicje</div>
                    <div class="card-subtitle text-gray">Definicje systemowe</div>
                </div>
                <div class="card-body">
                </div>
            </div>
        </div>
        <div class="column col-4 col-xs-12">
            <div class="card">
                <div class="card-header">
                    <button class="btn btn-primary float-right"
                            onclick="window.location.href='{{ url_for('admin.admin_cleaning') }}';"><i
                            class="icon icon-forward"></i></button>
                    <div class="card-title h5">Sprzątanie</div>
                    <div class="card-subtitle text-gray">Sprzątanie stancji</div>
                </div>
                <div class="card-body">
                </div>
            </div>
        </div>

    </div>
    <br/>
    <div class="columns">
        <div class="column col-4 col-xs-12">
            <div class="card">
                <div class="card-header">
                    <button class="btn btn-primary float-right"
                            onclick="window.location.href='{{ url_for('admin.admin_notifications') }}';"><i
                            class="icon icon-forward"></i></button>
                    <div class="card-title h5">Powiadomienia</div>
                    <div class="card-subtitle text-gray">Zarządzaj powiadomieniami w systemie</div>
                </div>
                <div class="card-body">
                </div>
            </div>
        </div>
    </div>
{% endblock content %}