{% extends "container-layout.html" %}
{% block content %}
    <h3 class="text-center">Sprzątanie</h3>
    <br/>
    <div class="columns">
        <div class="column col-10 col-mx-auto text-center">
            <table class="table table-striped table-hover">
                <thead>
                <tr class="text-center">
                    <th>Czynność</th>
                    <th>Osoba odpowiedzialna</th>
                    <th>Czy wykonane</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr class="text-center">
                    <td>Łazienka</td>
                    <td>{{ bathroom_cleaner.name }} {{ bathroom_cleaner.surname }}</td>
                    <td>{{ is_bathroom_cleaned }}</td>
                    <td>
                        {% if current_user.username == bathroom_cleaner.username and is_bathroom_cleaned == 'NIE' %}
                            <form method="POST"
                                  action="{{ url_for('cleaning_module.place_was_cleaned', cleaned_place='BATHROOM') }}"
                                  novalidate>
                                <button class="btn btn-primary" type="submit">Zrobiłem!</button>
                            </form>
                        {% endif %}
                    </td>
                </tr>

                <tr class="text-center">
                    <td>Podłogi</td>
                    <td>{{ floors_cleaner.name }} {{ floors_cleaner.surname }}</td>
                    <td>{{ is_floor_cleaned }}</td>
                    <td>
                        {% if current_user.username == floors_cleaner.username and is_floor_cleaned == 'NIE' %}
                            <form method="POST"
                                  action="{{ url_for('cleaning_module.place_was_cleaned', cleaned_place='FLOORS') }}"
                                  novalidate>
                                <button class="btn btn-primary" type="submit">Zrobiłem!</button>
                            </form>
                        {% endif %}
                    </td>
                </tr>

                <tr class="text-center">
                    <td>Kuchnia - blaty</td>
                    <td>{{ worktops_cleaner.name }} {{ worktops_cleaner.surname }}</td>
                    <td>{{ is_worktops_cleaned }}</td>
                    <td>
                        {% if current_user.username == worktops_cleaner.username and is_worktops_cleaned == 'NIE' %}
                            <form method="POST"
                                  action="{{ url_for('cleaning_module.place_was_cleaned', cleaned_place='KITCHEN_WORKTOPS') }}"
                                  novalidate>
                                <button class="btn btn-primary" type="submit">Zrobiłem!</button>
                            </form>
                        {% endif %}
                    </td>
                </tr>

                <tr class="text-center">
                    <td>Kuchnia - urządzenia i inne</td>
                    <td>{{ other_cleaner.name }} {{ other_cleaner.surname }}</td>
                    <td>{{ is_kitchen_other_cleaned }}</td>
                    <td>
                        {% if current_user.username == other_cleaner.username and is_kitchen_other_cleaned == 'NIE' %}
                            <form method="POST"
                                  action="{{ url_for('cleaning_module.place_was_cleaned', cleaned_place='KITCHEN_OTHER') }}"
                                  novalidate>
                                <button class="btn btn-primary" type="submit">Zrobiłem!</button>
                            </form>
                        {% endif %}
                    </td>
                </tr>

                <tr class="text-center">
                    <td>Kibel i wynoszenie śmieci</td>
                    <td>{{ restroom_cleaner.name }} {{ restroom_cleaner.surname }}</td>
                    <td>{{ is_restroom_cleaned }}</td>
                    <td>
                        {% if current_user.username == restroom_cleaner.username and is_restroom_cleaned == 'NIE' %}
                            <form method="POST"
                                  action="{{ url_for('cleaning_module.place_was_cleaned', cleaned_place='RESTROOM') }}"
                                  novalidate>
                                <button class="btn btn-primary" type="submit">Zrobiłem!</button>
                            </form>
                        {% endif %}
                    </td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>
    <br/>
    <h3 class="text-center">Ostatnie przydzielenie zadań: {{ date.value }}</h3>
    <br/>
    <h4 class="text-center">Co dokładnie sprzątamy?</h4>
    <div class="columns">
        <div class="column col-8 col-mx-auto text-left">

            <div class="accordion">
                <input type="checkbox" id="accordion-1" name="accordion-checkbox1" hidden>
                <label class="accordion-header" for="accordion-1">
                    <i class="icon icon-arrow-right mr-1"></i>
                    Łazienka
                </label>
                <div class="accordion-body">
                    <ul>
                        <li>Wannę</li>
                        <li>Pralkę</li>
                        <li>Lustro</li>
                        <li>Wagę</li>
                        <li>Umywalkę</li>
                        <li>Te półki na rzeczy</li>
                        <li>Jak ci mało i masz w łapie AJAXa do szyb to jebnij w przedpokoju lustro i w kuchni np okna
                            :P
                        </li>
                    </ul>
                    <h5>Twój Bóg do pomocy w tym tygodniu: Neptun oraz Malorne - biały jeleń</h5>
                </div>
            </div>

            <br/>

            <div class="accordion">
                <input type="checkbox" id="accordion-2" name="accordion-checkbox2" hidden>
                <label class="accordion-header" for="accordion-2">
                    <i class="icon icon-arrow-right mr-1"></i>
                    Odkurzanie i mycie podłóg
                </label>
                <div class="accordion-body">
                    <ul>
                        <li>Odkurzanie wszystkich publicznych podłoży
                            <ul>
                                <li>Łazienka</li>
                                <li>Kibel</li>
                                <li>Kuchnia</li>
                                <li>Przedpokój</li>
                            </ul>
                        </li>
                        <li>Pod butami też posprzątaj :)</li>
                        <li>I mycie tych poodkurzanych podłóg (kafelki)</li>
                    </ul>
                    <h5>Twój Bóg do pomocy w tym tygodniu: Ajolos - Bóg wiatrów i burz </h5>
                </div>
            </div>

            <br/>

            <div class="accordion">
                <input type="checkbox" id="accordion-3" name="accordion-checkbox3" hidden>
                <label class="accordion-header" for="accordion-3">
                    <i class="icon icon-arrow-right mr-1"></i>
                    Kuchnia - blaty
                </label>
                <div class="accordion-body">
                    <ul>
                        <li>Blaty 'drewniane' (pod urządzeniami też ;p)</li>
                        <li>Kuchenka gazowa</li>
                        <li>Zlew</li>
                    </ul>
                    <h5>Twój Bóg do pomocy w tym tygodniu: Higieja bogini zdrowia i czystości, Hefaistos - Bóg ognia oraz Hesoyam - bóg odbudowy</h5>
                </div>
            </div>

            <br/>

            <div class="accordion">
                <input type="checkbox" id="accordion-4" name="accordion-checkbox4" hidden>
                <label class="accordion-header" for="accordion-4">
                    <i class="icon icon-arrow-right mr-1"></i>
                    Kuchnia - urządzenia i inne
                </label>
                <div class="accordion-body">
                    <ul>
                        <li>Ściany (np obok kuchenki gazowej)</li>
                        <li>Piekarnik (interior i exterior) (używasz tego psikacza do czyszczenia)</li>
                        <li>Zlew</li>
                        <li>Mikrofala (interior i exterior) (używasz tego psikacza do czyszczenia)</li>
                        <li>No okap troszke chociaż</li>
                        <li>Opcjonalnie drzwi lodówki</li>
                        <li>Opcjonalnie drzwi półek</li>
                        <strong>Uwaga!</strong> po psikaniu psikaczem do czyszczenia należy poinformować o tym domostwo
                        - nie mozna
                        bezpośrednio po użyciu piec ani korzystać z mikrofali (i to parę godzin)!!! Jak nie jest mega
                        brudne to możesz tego nie używać.
                    </ul>
                    <h5>Twój Bóg do pomocy w tym tygodniu: Zao Jun 灶君 chiński Bóg pieca </h5>
                </div>
            </div>

            <br/>

            <div class="accordion">
                <input type="checkbox" id="accordion-5" name="accordion-checkbox5" hidden>
                <label class="accordion-header" for="accordion-5">
                    <i class="icon icon-arrow-right mr-1"></i>
                    Kibel i wynoszenie śmieci
                </label>
                <div class="accordion-body">
                    <ul>
                        <li>No kibel ładnie cały od środka i z góry i z boku</li>
                        <li>Nakarmić Posejdona</li>
                        <li>Kibel można posprzątać w 10 minut więc wynosisz śmieci <strong>Aż każdy posprząta swoją
                            część</strong></li>
                        <li>Tak więc przez ten tydzien jesteś zobowiązany poganiać innych do rozpoczęcia sprzątania bo
                            inaczej cały miesiac bedziesz latał za smieciami xD
                        </li>
                        <li>No i pamiętaj ty też regularnie wyjmujesz i wkładasz nowe worki na śmieci</li>
                        <li>Wyrzucaj do odpowiednich kontenerów</li>
                    </ul>
                    <h5>Twój Bóg do pomocy w tym tygodniu: Domestos xD, Posejdon i Anubis Bóg <del>śmierci</del> śmieci</h5>
                </div>
            </div>

        </div>
    </div>

{% endblock content %}