<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../static/css/stancjainfo.css"/>
    <meta charset="UTF-8">
    <title>Stancja Info 24/7</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/spectre.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/spectre-exp.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/spectre-icons.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stancjainfo.css') }}">
</head>
<body>

<script src="../static/js/jquery/jquery-3.4.1.min.js"></script>
<script src="../static/js/socketio/socket.io.js"></script>

<div class="container">
    <header class="navbar ">
        <section class="navbar-section">
            <a href="{{ url_for('hello_world') }}" class="btn btn-link ">StancjaInfo 24/7</a>
            <a href="{{ url_for('weather_module.weather') }}" class="btn btn-link ">Pogoda</a>
            {% if current_user.is_authenticated %}
                <a href="{{ url_for('internet_module.internet') }}" class="btn btn-link ">Internet</a>
                <a href="{{ url_for('media_module.media') }}" class="btn btn-link ">Media</a>
                <a href="{{ url_for('locator_debts_module.locator_debts') }}" class="btn btn-link ">Długi</a>
                <a href="{{ url_for('cleaning_module.cleaning') }}" class="btn btn-link ">Sprzątanie</a>
                <a href="{{ url_for('communication_module.chat') }}" class="btn btn-link ">Czat</a>
                <a href="{{ url_for('profile_module.my_profile') }}" class="btn btn-link ">Profil</a>
                <a href="{{ url_for('whats_new') }}" class="btn btn-link ">Co nowego?</a>
            {% endif %}


        </section>
        <section class="navbar-section">
            {% if current_user.is_authenticated %}
                <span class="padding-r-5 text-bold">{{ current_user.username }}</span> <br/>
                <div>
                    <figure class="avatar avatar-sm" href="{{ url_for('profile_module.my_profile') }}">
                        {% if current_user.avatar_s %}
                            <img src="/static/img/generated/{{ current_user.avatar_s }}" alt="avatar">
                        {% else %}
                            <img src="/static/img/avatar.jpg" alt="avatar">
                        {% endif %}
                    </figure>
                </div>
                <a href="{{ url_for('logout') }}" class="btn btn-link ">Wyloguj</a>
            {% else %}
                <a href="{{ url_for('login') }}" class="btn btn-link ">Zaloguj</a>
                <a href="{{ url_for('register') }}" class="btn btn-link ">Zarejestruj</a>
            {% endif %}
        </section>
    </header>
    <br/>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="toast toast-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <br/>
    {% block content %}
    {% endblock %}
    <br/>
</div>

</body>

</html>