{% extends "container-layout.html" %}
{% block content %}
    <div class="columns">
        <div>
            <form method="POST" action="" novalidate>
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.name.label(class="form-label") }}

                    {% if form.name.errors %}
                        {{ form.name(class="form-input is-error") }}
                        <p class="form-input-hint">
                            {% for error in form.name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}

                        </p>
                    {% else %}
                        {{ form.name(class="form-input") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.submit(class="btn") }}
                </div>
            </form>
        </div>
        <hr/>

    </div>
{% endblock content %}