{% extends "container-layout.html" %}
{% block content %}
    <h3 class="text-center">Dodaj avatar</h3>
    <br/>
    <div class="columns">
        <div class="column col-10 col-mx-auto text-center">
            {{ avatars.crop_box('profile_module.get_avatar', session['raw_filename']) }}  <!-- crop window -->
            {{ avatars.preview_box('profile_module.get_avatar', session['raw_filename']) }}  <!-- preview widow -->
            <form method="POST" action="" novalidate enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {% if form.x.errors %}
                        {{ form.x(class="form-input is-error") }}
                        <p class="form-input-hint">
                            {% for error in form.x.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}

                        </p>
                    {% else %}
                        {{ form.x(class="form-input") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {% if form.y.errors %}
                        {{ form.y(class="form-input is-error") }}
                        <p class="form-input-hint">
                            {% for error in form.y.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}

                        </p>
                    {% else %}
                        {{ form.y(class="form-input") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {% if form.w.errors %}
                        {{ form.w(class="form-input is-error") }}
                        <p class="form-input-hint">
                            {% for error in form.w.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}

                        </p>
                    {% else %}
                        {{ form.w(class="form-input") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {% if form.h.errors %}
                        {{ form.h(class="form-input is-error") }}
                        <p class="form-input-hint">
                            {% for error in form.h.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}

                        </p>
                    {% else %}
                        {{ form.h(class="form-input") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.submit(class="btn") }}
                </div>
            </form>
            {{ avatars.jcrop_js() }}  <!-- include jcrop javascript -->
            {{ avatars.init_jcrop() }}  <!-- init jcrop -->
        </div>
    </div>
    <br/>

{% endblock content %}