{% extends "container-layout.html" %}
{% block content %}
    <div class="columns">
        <div class="column col-4 col-mx-auto">
            <form method="POST" action="" novalidate>
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.who.label(class="form-label") }}

                    {% if form.who.errors %}
                        {{ form.who(class="form-input is-error") }}
                        <p class="form-input-hint">
                            {% for error in form.who.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}

                        </p>
                    {% else %}
                        {{ form.who(class="form-input") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.amount.label(class="form-label") }}

                    {% if form.amount.errors %}
                        {{ form.amount(class="form-input is-error") }}
                        <p class="form-input-hint">
                            {% for error in form.amount.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}

                        </p>
                    {% else %}
                        {{ form.amount(class="form-input") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.comment.label(class="form-label") }}

                    {% if form.comment.errors %}
                        {{ form.comment(class="form-input is-error") }}
                        <p class="form-input-hint">
                            {% for error in form.comment.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}

                        </p>
                    {% else %}
                        {{ form.comment(class="form-input") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.submit(class="btn") }}
                </div>
            </form>
        </div>
    </div>

    <hr/>
    <div class="divider text-center"></div>
    <div class="columns">
        <div class="column col-4 col-mx-auto text-center">
            <button class="btn"
                    onclick="window.location.href='{{ url_for('locator_debts_module.locator_debts') }}';">Powrót
            </button>
        </div>
    </div>

{% endblock content %}