{% extends "container-layout.html" %}
{% block content %}
    <div class="columns">
        <div class="column col-10 col-mx-auto">
            <div class="column">
                <div class="hero bg-gray">
                    <div class="hero-body">
                        <h1>StancjaInfo 24/7</h1>
                        <p>Witamy na naszej stronie!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="divider text-center"></div>
    {% if debtors %}
        <div class="columns">
            <div class="column col-10 col-mx-auto text-center">
                <h2>Nie zapłacili jeszcze za neta:</h2>
                {% for debtor in debtors %}
                    <span class="debtor-chip"> {{ debtor }} </span>
                    <br/>
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock content %}