{% extends "container-layout.html" %}
{% block content %}
    <div class="columns">
        {% if internet_entry %}
            <div class="column col-10 col-mx-auto">
                <h3 class="text-center">Internet</h3>
                 <table class="table">
                <thead>
                <tr>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td ><strong>Rok</strong></td>
                        <td class="text-center">{{ internet_entry.year }}</td>
                    </tr>
                    <tr>
                        <td><strong>Mies</strong></td>
                        <td class="text-center">{{ internet_entry.month.name }}</td>
                    </tr>
                    <tr>
                        <td><strong>Kwota</strong></td>
                        <td class="text-center">{{ internet_entry.payment_amount }} zł</td>
                    </tr>
                    <tr>
                        <td><strong>Na głowę</strong></td>
                        <td class="text-center">{{ per_capita }} zł</td>
                    </tr>
                    <tr>
                        <td><strong>Termin zapłaty </strong></td>
                        <td class="text-center">{{ internet_entry.date_of_payment }}</td>
                    </tr>
                    <tr>
                        <td><strong>Kara</strong></td>
                        <td class="text-center">{{ internet_entry.penalty }} zł</td>
                    </tr>
                </tbody>
            </table>
            </div>
        {% endif %}
    </div>
{% endblock content %}