{% extends "container-layout.html" %}
{% block content %}
    <div class="columns">
        {% if users %}
            <div class="column col-10 col-mx-auto">
                <h3 class="text-center">Tablica długów</h3>
                <div><br/></div>
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th class="text-center">X</th>
                        {% for user in users %}
                            <th class="text-center">{{ user[1] }}</th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for row in debts_table %}
                        <tr>
                            <td class="text-bold text-center">{{ row[0].user_name }}</td>
                            {% for col in row %}
                                <td class="text-center">{{ col.value }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <br/>
            <div class="divider text-center"></div>
            <div class="column col-10 col-mx-auto text-center">
                <p>
                    Czytając od góry do dołu - ja X wiszę Y Z złotych
                </p>
                <p>
                    Czytając od lewej do prawej - mi Y osoba X wisi Z złotych
                </p>
            </div>
        {% else %}
            <div class="empty col-10 col-mx-auto">
                <div class="empty-icon">
                    <i class="icon icon-stop"></i>
                </div>
                <p class="empty-title h5">Brak danych</p>
                <p class="empty-subtitle">Nie ma jeszcze żadnych wpisów</p>

            </div>

        {% endif %}
    </div>

    <br/>
    <div class="columns">
        <div class="column col-4 col-mx-auto text-center">
            <button class="btn"
                    onclick="window.location.href='{{ url_for('locator_debts_module.add_debt') }}';">Dodaj dług
            </button>
            <button class="btn" type="button"
                    onclick="window.location.href='{{ url_for('locator_debts_module.remove_debt') }}';">Anuluj dług
            </button>

        </div>
    </div>

    {% if latest %}
        <div class="divider text-center"></div>
        <br/>
        <h4 class="text-center">Historia</h4>
        <div class="columns">
            <div class="column col-10 col-mx-auto text-center">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th class="text-center"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for entry in latest %}
                        <tr>
                            {% if entry.debt_change_type.value == 'LEND' %}
                                <td class="text-center">
                                    [{{ entry.created_date }}] {{ user_map[entry.user_from_id] }}
                                    pożyczył {{ user_map[entry.user_to_id] }} {{ entry.amount }} zł
                                    {% if entry.comment %}
                                        ({{ entry.comment }})
                                    {% endif %}
                                </td>
                            {% endif %}
                            {% if entry.debt_change_type.value == 'RETURN' %}
                                <td class="text-center">
                                    [{{ entry.created_date }}] {{ user_map[entry.user_to_id] }}
                                    oddał {{ user_map[entry.user_from_id] }} {{ entry.amount }} zł
                                    {% if entry.comment %}
                                        ({{ entry.comment }})
                                    {% endif %}
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}
{% endblock content %}