{% extends "container-layout.html" %}
{% block content %}
    <div class="columns">
        <div class="column col-4 ">
        </div>
        <div class="column col-4">
            <form method="POST" action="" novalidate>
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.username.label(class="form-label") }}

                    {% if form.username.errors %}
                        {{ form.username(class="form-input is-error") }}
                        <p class="form-input-hint">
                            {% for error in form.username.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}

                        </p>
                    {% else %}
                        {{ form.username(class="form-input") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.password.label(class="form-label") }}
                    {% if form.password.errors %}
                        {{ form.password(class="form-input is-error") }}
                        <p class="form-input-hint">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}

                        </p>
                    {% else %}
                        {{ form.password(class="form-input") }}
                    {% endif %}
                </div>
                <br />
                <div class="columns">
                    <div class="col-8 text-left">
                        <div class="form-group">
                            <label class="form-checkbox">
                                {{ form.remember(class="checkbox") }}
                                <i class="form-icon"></i>Zapamiętaj mnie
                            </label>
                        </div>
                    </div>
                    <div class="col-4 text-right">
                        <div class="form-group">
                            {{ form.submit(class="btn") }}
                        </div>
                    </div>
                </div>


            </form>
        </div>
        <div class="column col-4 ">
        </div>
    </div>
    <div class="columns">
        <div class="column col-4">
        </div>
        <div class="column col-4 text-center">
            <br/>
            <span >
                Nie masz konta? <a href="{{ url_for('register') }}">Zarejestruj się</a>
            </span>
            <br/>
            <span >
                <a href="{{ url_for('forgot_password') }}">Zapomniałem hasła</a>
            </span>
        </div>
    <div class="column col-4">
        </div>
    </div>
{% endblock content %}