{% extends "container-layout.html" %}
{% block content %}
    <div class="columns">
        <div class="column col-6 col-mx-auto">
            <div class="panel">
                <div class="panel-header">
                    <div class="panel-title h6">Czat</div>
                    <div class="divider text-center"></div>
                </div>
                <div class="panel-nav">
                </div><!-- asdas moze tutaj rozne pokoje? :D -->
                <div id="chat-body" class="panel-body chat-body-height">
                    <div id="msg-wrapper">
                        {% for message in messages %}
                            <div>
                                <p class="text-bold">
                                <span>
                                    {% if message.avatar_url %}
                                        <figure class="avatar avatar-sm chat-avatar-margin">
                                            <img class="s-circle" src="/static/img/generated/{{ message.avatar_url }}">
                                        </figure>
                                    {% else %}
                                        <figure class="avatar avatar-sm chat-avatar-margin">
                                            <img class="s-circle" src="/static/img/avatar.jpg">
                                        </figure>
                                    {% endif %}
                                </span>
                                    <span class="text-bold">
                                        {{ message.username }}
                                    </span>
                                    <span class="text-gray text-bold chat-timestamp">
                                        {{ message.timestamp }}
                                    </span>
                                </p>
                                <p>
                                    {{ message.message }}
                                </p>
                            </div>
                        {% endfor %}

                    </div>
                </div>
                <div class="panel-footer">
                    <div class="divider text-center"></div>
                    <form id="input-message-form">
                        <div class="input-group">
                            <input id="message-input" class="form-input" type="text" placeholder="Wiadomość...">
                            <button type="submit" class="btn btn-primary input-group-btn">Wyślij</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
        <br/>
        <div class="divider text-center"></div>
    </div>

    <br/>

    <script type="text/javascript" charset="utf-8">
        $('#chat-body').ready(() => {
            console.log("READY!");
            let chatBody = document.getElementById("chat-body");
            chatBody.scrollTop = chatBody.scrollHeight - chatBody.clientHeight;
        });

        const form = $('#input-message-form').on('submit', event => {
            event.preventDefault();
            const message = $('#message-input').val();

            if (!message || message === '') {
                return;
            }

            console.log(message);
            $.post("/main-forum", {message: message})
            location.reload();
        });

        socket.on('new message published', newMsgEvent => {
            console.log(newMsgEvent);
            $('#message-input').val('');

            $('#msg-wrapper').append('<div>\n' +
                '                            <p class="text-bold">' + newMsgEvent.username + '\n' +
                '                                <span class="text-gray chat-timestamp">\n' +
                '                                ' + newMsgEvent.date + '' +
                '                                </span></p>\n' +
                '                            <p>' + newMsgEvent.message + '</p>\n' +
                '                        </div>'
            );

            $(window).unload(function () {
                socket.disconnect(0);
                socket.emit('user disconnected', {data: 'I\'m disconnected!'});
            });
        })
    </script>
{% endblock content %}