{% extends "container-layout.html" %}
{% block content %}
    <div class="columns">
        <div class="column col-6">
            <h3>Użytkownicy w grupie</h3>
            <br/>
            {% for user in group_users %}
                <span class="chip">
                          {{ user.username }}
                </span><br/>
            {% endfor %}
        </div>
        <div class="column col-6">
            <h3>Dodaj użytkowników</h3>
            <br/>
            <form method="POST" action="" novalidate>
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.users.label(class="form-label") }}

                    {% if form.users.errors %}
                        {{ form.users(class="form-input is-error") }}
                        <p class="form-input-hint">
                            {% for error in form.users.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}

                        </p>
                    {% else %}
                        {{ form.users(class="form-select") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.submit(class="btn") }}
                </div>
            </form>
        </div>
    </div>
    <div class="divider text-center"></div>
    <div class="columns">
        <div class="column col-4 col-mx-auto text-center">
            <button class="btn" type="button"
                    onclick="window.location.href='{{ url_for('admin.admin_user_group') }}';">Powrót
            </button>

        </div>
    </div>

{% endblock content %}