{% extends "container-layout.html" %}
{% block content %}
    <div class="columns">
        {% if media_entry %}
            <div class="column col-10 col-mx-auto">
                <h3 class="text-center">Media</h3>
                <table class="table">
                    <thead>
                    <tr>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><strong>Rok</strong></td>
                        <td class="text-center">{{ media_entry.year }} </td>
                    </tr>
                    <tr>
                        <td><strong>Mies</strong></td>
                        <td class="text-center">{{ media_entry.month }} </td>
                    </tr>
                    <tr>
                        <td><strong>Kwota</strong></td>
                        <td class="text-center">{{ media_entry.payment_amount }} zł</td>
                    </tr>
                    <tr>
                        <td><strong>Na głowę</strong></td>
                        <td class="text-center">{{ per_capita }} zł</td>
                    </tr>
                    <tr>
                        <td><strong>Zimna woda kuchnia</strong></td>
                        <td class="text-center">{{ media_entry.cold_water_kitchen }} zł</td>
                    </tr>
                    <tr>
                        <td><strong>Ciepła woda kuchnia</strong></td>
                        <td class="text-center">{{ media_entry.warm_water_kitchen }} zł</td>
                    </tr>
                    <tr>
                        <td><strong>Zimna woda łazienka</strong></td>
                        <td class="text-center">{{ media_entry.cold_water_bathroom }} zł</td>
                    </tr>
                    <tr>
                        <td><strong>Ciepła woda łazienka</strong></td>
                        <td class="text-center">{{ media_entry.warm_water_bathroom }} zł</td>
                    </tr>
                    <tr>
                        <td><strong>Prąd</strong></td>
                        <td class="text-center">{{ media_entry.current }} zł</td>
                    </tr>
                    <tr>
                        <td><strong>Gaz</strong></td>
                        <td class="text-center">{{ media_entry.gas }} zł</td>
                    </tr>
                    <tr>
                        <td><strong>Zwrot za prąd</strong></td>
                        <td class="text-center">{{ media_entry.current_refund }} zł</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        {% endif %}
    </div>
{% endblock content %}