{% extends "container-layout.html" %}
{% block content %}
    <div class="columns">
        {% if media_entries %}
            <div class="column col-10 col-mx-auto">
                <h3 class="text-center">Media</h3>
                <ul class="tab tab-block">
                    <li class="tab-item">
                        <a href="{{ url_for('media_module.media') }}">Najnowsze</a>
                    </li>
                    <li class="tab-item active">
                        <a href="#">Historia</a>
                    </li>
                    <li class="tab-item">
                        <a href="#">Statystyki</a>
                    </li>
                </ul>
                <div><br/></div>
                <table class="table">
                    <thead>
                    <tr class="text-center">
                        <th>Rok</th>
                        <th>Miesiąc</th>
                        <th>Kwota</th>
                        <th>Szczegóły</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for media_entry in media_entries %}
                        <tr>
                            <td class="text-center">{{ media_entry.year }} </td>
                            <td class="text-center">{{ media_entry.month }} </td>
                            <td class="text-center">{{ media_entry.payment_amount }} zł</td>
                            <td class="text-center">
                                <button class="btn btn-primary" type="submit"
                                onclick="window.location.href='{{ url_for('media_module.media_details', media_id=media_entry.id) }}';">
                                    <i class="icon icon-search"></i>
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <div class="empty col-10 col-mx-auto">
                <div class="empty-icon">
                    <i class="icon icon-stop"></i>
                </div>
                <p class="empty-title h5">Brak danych</p>
                <p class="empty-subtitle">Nie ma jeszcze żadnych wpisów</p>

            </div>
        {% endif %}
    </div>
{% endblock content %}