{% extends "container-layout.html" %}
{% block content %}
    <div class="columns">
        <div class="column col-4 ">
        </div>
        <div class="column col-4">
            <form method="POST" action="{{ url_for('new_password', key=key) }}" novalidate> {# same route#}
                {{ form.hidden_tag() }} {# CSRF token#}
                                <div class="form-group">
                    {{ form.password.label(class="form-label") }}
                    {% if form.password.errors %}
                        {{ form.password(class="form-input is-error") }}
                        <p class="form-input-hint">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}

                        </p>
                    {% else %}
                        {{ form.password(class="form-input") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.confirm_password.label(class="form-label") }}
                    {% if form.confirm_password.errors %}
                        {{ form.confirm_password(class="form-input is-error") }}
                        <p class="form-input-hint">
                            {% for error in form.confirm_password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}

                        </p>
                    {% else %}
                        {{ form.confirm_password(class="form-input") }}
                    {% endif %}
                </div>
                <div class="form-group text-right">
                    {{ form.submit(class="btn") }}
                </div>
            </form>
        </div>
        <div class="column col-4 ">
        </div>
    </div>

{% endblock content %}