{% extends "container-layout.html" %}
{% block content %}
    <div class="columns">
        <div class="column col-4 ">
        </div>
        <div class="column col-4">
            <form method="POST" action="" novalidate> {# same route#}
                {{ form.hidden_tag() }} {# CSRF token#}
                <div class="form-group">
                    {{ form.username.label(class="form-label") }}

                    {% if form.username.errors %}
                        {{ form.username(class="form-input is-error") }}
                        <p class="form-input-hint">
                            {% for error in form.username.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}

                        </p>
                    {% else %}
                        {{ form.username(class="form-input") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.name.label(class="form-label") }}

                    {% if form.name.errors %}
                        {{ form.name(class="form-input is-error") }}
                        <p class="form-input-hint">
                            {% for error in form.name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}

                        </p>
                    {% else %}
                        {{ form.name(class="form-input") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.surname.label(class="form-label") }}

                    {% if form.surname.errors %}
                        {{ form.surname(class="form-input is-error") }}
                        <p class="form-input-hint">
                            {% for error in form.surname.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}

                        </p>
                    {% else %}
                        {{ form.surname(class="form-input") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.email.label(class="form-label") }}
                    {% if form.email.errors %}
                        {{ form.email(class="form-input is-error") }}
                        <p class="form-input-hint">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}

                        </p>
                    {% else %}
                        {{ form.email(class="form-input") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.password.label(class="form-label") }}
                    {% if form.password.errors %}
                        {{ form.password(class="form-input is-error") }}
                        <p class="form-input-hint">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}

                        </p>
                    {% else %}
                        {{ form.password(class="form-input") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.confirm_password.label(class="form-label") }}
                    {% if form.confirm_password.errors %}
                        {{ form.confirm_password(class="form-input is-error") }}
                        <p class="form-input-hint">
                            {% for error in form.confirm_password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}

                        </p>
                    {% else %}
                        {{ form.confirm_password(class="form-input") }}
                    {% endif %}
                </div>
                <div class="form-group text-right">
                    {{ form.submit(class="btn") }}
                </div>
            </form>
        </div>
        <div class="column col-4 ">
        </div>
        <hr/>

    </div>
    <div class="columns">
        <div class="column col-4">
        </div>
        <div class="column col-4 text-center">
            <br/>
            <span>
            Masz już konto? <a href="{{ url_for('login') }}">Zaloguj się</a>
            </span>
        </div>
        <div class="column col-4">
        </div>
    </div>

{% endblock content %}