{% extends "container-layout.html" %}
{% block content %}
    <div class="columns">
        <div class="column col-4 ">
        </div>
        <div class="column col-4">
            <form method="POST" action="" novalidate>
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.email.label(class="form-label") }}

                    {% if form.email.errors %}
                        {{ form.email(class="form-input is-error") }}
                        <p class="form-input-hint">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}

                        </p>
                    {% else %}
                        {{ form.email(class="form-input") }}
                    {% endif %}
                </div>

                <br/>
                <div class="columns">
                    <div class="col-8 text-left">

                    </div>
                    <div class="col-4 text-right">
                        <div class="form-group">
                            {{ form.submit(class="btn") }}
                        </div>
                    </div>
                </div>


            </form>
        </div>
        <div class="column col-4 ">
        </div>
    </div>

{% endblock content %}