{% extends "container-layout.html" %}
{% block content %}
    <h3 class="text-center">Dodaj avatar</h3>
    <br/>
    <div class="columns">
        <div class="column col-10 col-mx-auto text-center">
            <div class="columns">
                <div class="column col-4 text-center">
                    <form method="POST" action="" novalidate enctype="multipart/form-data">
                        {{ form.hidden_tag() }}
                        <div class="form-group">
                            {{ form.image.label(class="form-label") }}

                            {% if form.image.errors %}
                                {{ form.image(class="form-input is-error") }}
                                <p class="form-input-hint">
                                    {% for error in form.image.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}

                                </p>
                            {% else %}
                                {{ form.image(class="form-input") }}
                            {% endif %}
                        </div>

                        <div class="form-group">
                            {{ form.submit(class="btn") }}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <br/>

{% endblock content %}