{% extends "container-layout.html" %}
{% block content %}
    <h3 class="text-center">Mój profil</h3>
    <br/>
    <div class="columns">
        <div class="column col-10 col-mx-auto text-center user-panel">
            <div class="columns panel-body">
                <div class="column col-4 text-center">
                    {% if user.avatar_l %}
                        <img class="s-circle" src="/static/img/generated/{{ user.avatar_l }}">
                    {% else %}
                        <img class="s-circle" src="/static/img/avatar.jpg">
                    {% endif %}
                    <div class="columns">
                        <div class="column col-12 text-center text-bold profile-name-big">
                            {{ user.username }}
                        </div>
                        <div class="column col-12 text-gray">
                            {{ user.name }} {{ user.surname }}
                        </div>
                        <div class="column col-12 text-gray profile-padding">
                            {{ user.email }}
                        </div>
                    </div>
                    <div class="columns">
                        {#                        {% if not user.avatar_l %}#}
                        <div class="column col-6 col-mx-auto">
                            <form method="POST"
                                  action="{{ url_for('profile_module.generate_avatars') }}"
                                  novalidate>
                                <button class="btn btn-primary profile-button" type="submit">Wygeneruj avatar
                                </button>
                            </form>
                        </div>
                        {#                        {% endif %}#}
                        <div class="column col-6 col-mx-auto">
                            <form method="GET"
                                  action="{{ url_for('profile_module.upload_avatar') }}"
                                  novalidate>
                                <button class="btn btn-primary profile-button" type="submit">Załaduj avatar
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="column col-8 text-center">
                    <div class="columns">
                        <div class="column col-12 text-center profile-text-bold">
                            {% if is_internet_debtor %}
                                <span class="text-error">Nie zapłacono za neta</span>
                            {% else %}
                                <span class="text-success">Zapłacono za neta</span>
                            {% endif %}
                        </div>
                        <hr/>
                        <div class="column col-12 text-center profile-text-bold">
                            <span>W tym tygodniu sprzątasz: {{ cleaning_room }}</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <br/>

{% endblock content %}