{% extends "container-layout.html" %}
{% block content %}
    <div class="columns">
        <div class="column col-10 col-mx-auto">
            <h3 class="text-center">;_;</h3>
            <br/>
            <div class="divider text-center"></div>

            <div class="empty">
                <div class="empty-icon">
                    <i class="icon icon-stop"></i>
                </div>
                <p class="empty-title h5">Oops!</p>
                <p class="empty-subtitle">Twoje konto jest zdezaktywowane</p>
                <p class="empty-subtitle">Skontaktuj się z administratorem</p>
            </div>
        </div>
        <br/>
    </div>
{% endblock content %}