{% extends "container-layout.html" %}
{% block content %}
    <div class="columns">
        <div class="column col-10 col-mx-auto">
            <div class="columns">
                <h1>Pogody nie ma i przez lato nie będzie</h1>
                <br/>
            </div>
        </div>
    </div>
    <div class="columns">
        <div class="column col-10 col-mx-auto">
            <div class="columns">
                <div class="column col-12 col-mx-auto">
                    <h2>Mała analiza zebranych danych</h2>

                    <p>Na początek wykresy liniowe przedstawiające serie czasowe od grudnia 2019 do kwietnia 2020.
                        Odcinek czasowy co 6h </p>

                    <figure class="figure">
                        <img class="img-fit-contain img-responsive" src="/static/img/charts/temp_pm10.png"
                             alt="temperatura i pm10">
                        <figcaption class="figure-caption text-center">Rys. 1. Wykres zmieniającej się temperatury i
                            stężenia
                            pyłu pm10 w powietrzu w czasie.
                        </figcaption>
                    </figure>
                    <br/>
                    <p>Pierwszy wykres przedstawia zmieniające się w czasie dane: temperatura i stężenie pyłów pm 10</p>
                    <p><strong>Uwaga</strong> należy wziąć poprawkę na temperaturę - miernik znajdował się w zamnkniętym
                        pudełku wraz z chodzącym Raspberry PI a co za tym idzie, odczyt temperatury mógł być troszkę
                        inny niż na zewnątrz pudełka.
                        Na pewno jest troszkę zawyżony, ale zazwyczaj jak patrzyłem na termometr w kuchni i na
                        aplikacje, to odchylenie maksymalne przy dodatnich temperaturach wynosiło 1 stopień. Przy
                        temperaturach bliskich zeru, temperatura w pudełku nie chciała pokazać mniej niż 0 st Celsjusza
                        :(.
                    </p>
                    <p>
                        Można zauważyć, że w styczniu mieliśmy z 3 dni mega smogu, gdzie w jednym dniu licznik wskazał
                        nawet 300 mg/m3 (na wykresie jest srednia z 6h wiec pokazuje prawie 250). W Marcu też mielismy
                        parę dni z wysokim smogiem.
                    </p>

                    <figure class="figure">
                        <img class="img-fit-contain img-responsive" src="/static/img/charts/temp_pm25.png"
                             alt="temperatura i pm25">
                        <figcaption class="figure-caption text-center">Rys. 2. Wykres zmieniającej się temperatury i
                            stężenia
                            pyłu pm2.5 w powietrzu w czasie.
                        </figcaption>
                    </figure>
                    <br/>
                    <p>
                        Wykres powyżej pokazuje pył pm 2.5 w zestawieniu z temperaturą. Wyniki praktycznie te same
                        jednak z mniejszym stężeniem - tych cząsteczek jest po prostu mniej.
                    </p>

                    <div class="columns">
                        <div class="column col-6 col-mx-auto">
                            <figure class="figure">
                                <img class="img-fit-contain img-responsive"
                                     src="/static/img/charts/temp_pm10_scatter.png"
                                     alt="temperatura i pm10">
                                <figcaption class="figure-caption text-center">Rys. 3. Wykres zależności temperatury do
                                    stężenia
                                    pm10
                                </figcaption>
                            </figure>
                        </div>
                        <div class="column col-6 col-mx-auto">
                            <figure class="figure">
                                <img class="img-fit-contain img-responsive"
                                     src="/static/img/charts/temp_pm25_scatter.png"
                                     alt="temperatura i pm10">
                                <figcaption class="figure-caption text-center">Rys. 4. Wykres zależności temperatury do
                                    stężenia
                                    pm2.5
                                </figcaption>
                            </figure>
                        </div>
                    </div>

                    <br/>
                    <p>
                        Wykres 3 i 4 pokazuje nam jak wraz ze wzrostem temperatury powietrza zmienia się wartość smogu.
                        Bardzo dobrze na nim widać, że większy smog jest przy niższych temperaturach. Wydaje mi się że
                        wykres powinien tworzyć taką bardziej 'równie pochyłą' i widać tu, że temperatura w pudełku nie
                        chciała zejść poniżej 0 stopni - tam powinno być więcej kropków.
                    </p>

                    <div class="columns">
                        <div class="column col-6 col-mx-auto">
                            <figure class="figure">
                                <img class="img-fit-contain img-responsive"
                                     src="/static/img/charts/humid_pm10_scatter.png"
                                     alt="wilgotnośc i pm10">
                                <figcaption class="figure-caption text-center">Rys. 5. Wykres zależności wilgotności
                                    powietrza do
                                    stężenia pm10
                                </figcaption>
                            </figure>
                        </div>
                        <div class="column col-6 col-mx-auto">
                            <figure class="figure">
                                <img class="img-fit-contain img-responsive"
                                     src="/static/img/charts/humid_pm25_scatter.png"
                                     alt="wilgotnośc i pm2.5">
                                <figcaption class="figure-caption text-center">Rys. 6. Wykres zależności wilgotności
                                    powietrza do
                                    stężenia pm2.5
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    <br/>

                    <p>Wykresy 5 i 6 pokazują przy jakiej wilgotnosci powietrza zaobserwowano daną wartość smogu. Dla
                        cząsteczek pm10 najczęstszą wartością, przy której występował bardzo wysoki smog to 60%
                        wilgotności. Wysokie odczyty zaobserwowano zarówno przy wilgotności w obrębie 30-40%. Dla
                        cząsteczek pm2.5, również smog najchętniej pojawiał się, gdy wilgotność powietrza wynosiła
                        60%. W porównaniu do wykresu z cząsteczkami pm10, najwyższe stężenia pm2.5 zaobserwowano przy
                        wilgotności 30-40%.</p>

                    <div class="columns">
                        <div class="column col-6 col-mx-auto">
                            <figure class="figure">
                                <img class="img-fit-contain img-responsive"
                                     src="/static/img/charts/pressure_pm10_scatter.png"
                                     alt="wilgotnośc i pm10">
                                <figcaption class="figure-caption text-center">Rys. 7. Wykres zależności ciśnienia
                                    powietrza do
                                    stężenia pm10
                                </figcaption>
                            </figure>
                        </div>
                        <div class="column col-6 col-mx-auto">
                            <figure class="figure">
                                <img class="img-fit-contain img-responsive"
                                     src="/static/img/charts/pressure_pm25_scatter.png"
                                     alt="wilgotnośc i pm2.5">
                                <figcaption class="figure-caption text-center">Rys. 8. Wykres zależności ciśnienia
                                    powietrza do
                                    stężenia pm2.5
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    <br/>

                    <p>Wykresy 7 i 8 są bardzo ciekawe. Można z nich wywnioskować, że najlepszą wartością ciśnienia
                        atmosferycznego dla pojawiania się smogu jest 990 hPa i 1010 hPa </p>

                    <figure class="figure">
                        <img class="img-fit-contain img-responsive"
                             src="/static/img/charts/corr_matrix.png"
                             alt="wilgotnośc i pm2.5">
                        <figcaption class="figure-caption text-center">Rys. 9. Macierz korelacji pm10, pm2.5,
                            temperatury, ciśnienia i wilgotności
                        </figcaption>
                    </figure>
                    <br/>
                    <p>Wykres 9 mówi nam jak poszczególne zmienne zależą między sobą. Przykładowo zmienne pm10 i pm2.5
                        mają silną korelacje, bo gdy wzrasta pm2.5 to wzrasta też pm10. Reszta zmiennych w ogóle nie
                        jest skorelowana ze stężeniem pyłów</p>
                </div>

            </div>
        </div>
    </div>
{% endblock content %}