{% extends "container-layout.html" %}
{% block content %}
    <div class="columns">
        {% if smog_data %}
            <div class="column col-10 col-mx-auto text-center">
                <div class="hero bg-gray">
                    <div class="hero-body ">
                        <h1>SMOG</h1>
                        <h2>PM 2.5: {{ '%0.2f'| format(smog_data.pm25|float) }}
                            <figure class="avatar avatar">
                                <img src="/static/img/{{ pm_25_color }}" alt="avatar">
                            </figure>
                        </h2>
                        <h2>PM 10: {{ '%0.2f'| format(smog_data.pm10|float) }}
                            <figure class="avatar avatar">
                                <img src="/static/img/{{pm_10_color}}" alt="avatar">
                            </figure>
                        </h2>
                        <h4>Ostatni pomiar: {{ smog_data.timestamp }}</h4>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="empty col-10 col-mx-auto">
                <div class="empty-icon">
                    <i class="icon icon-stop"></i>
                </div>
                <p class="empty-title h5">Brak danych</p>
                <p class="empty-subtitle">Nie ma jeszcze żadnych wpisów</p>

            </div>
        {% endif %}

        {% if weather_data %}
            <div class="column col-10 col-mx-auto text-center">
                <div class="hero bg-gray">
                    <div class="hero-body ">
                        <h1>POGODA</h1>
                        <h2>Temperatura: {{ '%0.1f'| format(weather_data.temperature|float) }} °C</h2>
                        <h2>Wilgotność: {{ '%0.1f'| format(weather_data.humidity|float) }} %</h2>
                        <h2>Ciśnienie: {{ '%0.1f'| format(weather_data.pressure|float) }} hPa</h2>
                        <h4>Ostatni pomiar: {{ weather_data.timestamp }}</h4>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="empty col-10 col-mx-auto">
                <div class="empty-icon">
                    <i class="icon icon-stop"></i>
                </div>
                <p class="empty-title h5">Brak danych</p>
                <p class="empty-subtitle">Nie ma jeszcze żadnych wpisów</p>

            </div>
        {% endif %} -->
    </div>
{% endblock content %}