{% extends "container-layout.html" %}
{% block content %}
    <div class="columns">
        <div class="column col-10 col-mx-auto">
            <div class="column">
                <div class="hero bg-gray">
                    <div class="hero-body">
                        <div class="timeline">
                            <div class="timeline-item" id="11">
                                <div class="timeline-left">
                                    <a class="timeline-icon icon-lg" href="#11">
                                        <i class="icon icon-check"></i>
                                    </a>
                                </div>
                                <div class="timeline-content">
                                    <p class="tile-subtitle">Wersja 0.3.1</p>
                                    <p class="tile-title">Sprzątanie - informacja co sprzątamy</p>
                                    <p class="tile-title">Analiza zebranych danych smogowych</p>
                                    <p class="tile-title">Wyłączenie pogody</p>
                                </div>
                            </div>
                            <div class="timeline-item" id="10">
                                <div class="timeline-left">
                                    <a class="timeline-icon icon-lg" href="#10">
                                        <i class="icon icon-check"></i>
                                    </a>
                                </div>
                                <div class="timeline-content">
                                    <p class="tile-subtitle">Wersja 0.3</p>
                                    <p class="tile-title">Chat - wersja demo</p>
                                    <p class="tile-title">Profil i avatary</p>
                                </div>
                            </div>
                            <div class="timeline-item" id="9">
                                <div class="timeline-left">
                                    <a class="timeline-icon icon-lg" href="#9">
                                        <i class="icon icon-check"></i>
                                    </a>
                                </div>
                                <div class="timeline-content">
                                    <p class="tile-subtitle">Wersja 0.2.9</p>
                                    <p class="tile-title">Powiadomienia email</p>
                                    <p class="tile-title">Zmiana hasła</p>
                                </div>
                            </div>
                            <div class="timeline-item" id="8">
                                <div class="timeline-left">
                                    <a class="timeline-icon icon-lg" href="#8">
                                        <i class="icon icon-check"></i>
                                    </a>
                                </div>
                                <div class="timeline-content">
                                    <p class="tile-subtitle">Wersja 0.2.8</p>
                                    <p class="tile-title">Sprzątanie wersja wstępna</p>
                                </div>
                            </div>
                            <div class="timeline-item" id="7">
                                <div class="timeline-left">
                                    <a class="timeline-icon icon-lg" href="#7">
                                        <i class="icon icon-check"></i>
                                    </a>
                                </div>
                                <div class="timeline-content">
                                    <p class="tile-subtitle">Wersja 0.2.7</p>
                                    <p class="tile-title">Mierniki pogodowe</p>
                                </div>
                            </div>
                            <div class="timeline-item" id="6">
                                <div class="timeline-left">
                                    <a class="timeline-icon icon-lg" href="#6">
                                        <i class="icon icon-check"></i>
                                    </a>
                                </div>
                                <div class="timeline-content">
                                    <p class="tile-subtitle">Wersja 0.2.6</p>
                                    <p class="tile-title">Tablica długów</p>
                                </div>
                            </div>
                            <div class="timeline-item" id="5">
                                <div class="timeline-left">
                                    <a class="timeline-icon icon-lg" href="#5">
                                        <i class="icon icon-check"></i>
                                    </a>
                                </div>
                                <div class="timeline-content">
                                    <p class="tile-subtitle">Wersja 0.2.5</p>
                                    <p class="tile-title">Historia opłat za internet</p>
                                    <p class="tile-title">Lista osób które nie zaplaciły jeszcze za neta</p>
                                </div>
                            </div>
                            <div class="timeline-item" id="4">
                                <div class="timeline-left">
                                    <a class="timeline-icon icon-lg" href="#4">
                                        <i class="icon icon-check"></i>
                                    </a>
                                </div>
                                <div class="timeline-content">
                                    <p class="tile-subtitle">Wersja 0.2.4</p>
                                    <p class="tile-title">Użytkownik nie może się zalogować gdy jest nieaktywny</p>
                                    <p class="tile-title">Historia opłat za media</p>
                                    <p class="tile-title">Nick na navbarze</p>
                                </div>
                            </div>
                             <div class="timeline-item" id="3">
                                <div class="timeline-left">
                                    <a class="timeline-icon icon-lg" href="#3">
                                        <i class="icon icon-check"></i>
                                    </a>
                                </div>

                                <div class="timeline-content">
                                    <p class="tile-subtitle">Wersja 0.2.3</p>
                                    <p class="tile-title">Zmiana nazw miesięcy na język Polski</p>
                                </div>
                            </div>
                            <div class="timeline-item" id="2">
                                <div class="timeline-left">
                                    <a class="timeline-icon icon-lg" href="#2">
                                        <i class="icon icon-check"></i>
                                    </a>
                                </div>
                                <div class="timeline-content">
                                    <p class="tile-subtitle">Wersja 0.2.2</p>
                                    <p class="tile-title">Co nowego? - strona z nowymi ficzerami</p>
                                    <p class="tile-title">Podgląd najnowszych rachunków za media</p>
                                    <p class="tile-title">Poprawione okno logowania i rejestracji</p>
                                </div>
                            </div>

                            <div class="timeline-item" id="1">
                                <div class="timeline-left">
                                    <a class="timeline-icon icon-lg" href="#1">
                                        <i class="icon icon-check"></i>
                                    </a>
                                </div>

                                <div class="timeline-content">
                                    <p class="tile-subtitle">Wersja 0.2.1</p>
                                    <p class="tile-title">Rejestracja</p>
                                    <p class="tile-title">Logowanie</p>
                                    <p class="tile-title">Podgląd najnowszych rachunków za internet</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}