.debtor-chip {
    align-items: center;
    background: #eef0f3;
    border-radius: 5rem;
    display: inline-flex;
    display: -ms-inline-flexbox;
    -ms-flex-align: center;
    font-size: 90%;
    height: 1.2rem;
    line-height: .8rem;
    margin: .1rem;
    max-width: 320px;
    overflow: hidden;
    padding: 1rem 5rem;
    text-decoration: none;
    text-align: center;
    text-overflow: ellipsis;
    vertical-align: middle;
    white-space: nowrap;
}

.user-panel {
    border: .05rem solid #dadee4;
    border-radius: .1rem;
    padding: 20px 0px 20px 0px;
}

.chat-body-height {
    max-height: 500px
}

.chat-timestamp {
    font-size: 11px;
    display: inline;
    float: right;
}

.profile-padding {
    padding-bottom: 15px;
}

.profile-button {
    min-width: 160px;
}

.profile-text-bold {
    font-weight: 300;
    font-size: xx-large;
}

.profile-name-big {
    font-weight: 300;
    font-size: x-large;
}

.padding-r-5 {
    padding-right: 5px;
}

.chat-avatar-margin {
    margin-bottom: 2px;
    margin-right: 5px;
}